output
PhantasmaPhoenix.Core/bin
PhantasmaPhoenix.Core/obj
PhantasmaPhoenix.Cryptography/bin
PhantasmaPhoenix.Cryptography/obj
PhantasmaPhoenix.Cryptography.Legacy/bin
PhantasmaPhoenix.Cryptography.Legacy/obj
PhantasmaPhoenix.Protocol/bin
PhantasmaPhoenix.Protocol/obj
PhantasmaPhoenix.VM/bin
PhantasmaPhoenix.VM/obj