.env
output
Examples/bin
Examples/obj
PhantasmaPhoenix.Core/bin
PhantasmaPhoenix.Core/obj
PhantasmaPhoenix.Cryptography/bin
PhantasmaPhoenix.Cryptography/obj
PhantasmaPhoenix.Cryptography.Legacy/bin
PhantasmaPhoenix.Cryptography.Legacy/obj
PhantasmaPhoenix.InteropChains.Legacy/bin
PhantasmaPhoenix.InteropChains.Legacy/obj
PhantasmaPhoenix.Link/bin
PhantasmaPhoenix.Link/obj
PhantasmaPhoenix.NFT/bin
PhantasmaPhoenix.NFT/obj
PhantasmaPhoenix.Protocol/bin
PhantasmaPhoenix.Protocol/obj
PhantasmaPhoenix.Protocol.Carbon/bin
PhantasmaPhoenix.Protocol.Carbon/obj
PhantasmaPhoenix.RPC/bin
PhantasmaPhoenix.RPC/obj
PhantasmaPhoenix.VM/bin
PhantasmaPhoenix.VM/obj
TestDataGenerator/bin
TestDataGenerator/obj
Tests/PhantasmaPhoenix.Protocol.Carbon.Tests/bin
Tests/PhantasmaPhoenix.Protocol.Carbon.Tests/obj
